
doctype 5
html
  head
    title search jiyinyiyong
    meta(charset='utf-8')
    script(defer, src='http://zeptojs.com/zepto.js')
    script(defer, src='lib/arrange.js')
    link(rel='stylesheet', href='./build/search.css')
  body
    #entry Loading