
body
  margin 0px
  padding 100px 0px 200px

.line
  background hsl(240,80,95)
  margin 8px 0px
  padding 10px

  .links
    max-width 400px
    line-height 26px
    overflow hidden

    a
      text-overflow ellipsis
      text-decoration none
      color hsl(240,80,75)
      font-size 11px
  .time
    color hsl(180,20,70)
    font-size 12px